/* ===========================
   ======= Body style ======== 
   =========================== */
   
body {
	background:url(../images/bg1.jpg) top center fixed;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
	}
	
.body {
	clear: both; 
	margin: 0 auto; 
	width: 70%;
}
	
/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */
a {
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #CF5C3F;
	padding: 0 1px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #CF5C3F;
	color: #fff;
	text-decoration: none;
}

/* ===========================
   ===== Main Navigation ===== 
   =========================== */  
.mainHeader nav {
	background: #666;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.mainHeader nav ul {
	list-style: none; 
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left; 
	display: inline; 
}
	
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #CF5C3F;
	color: #fff;
	text-shadow: none !important;
}
	
.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 3% 0;
}

/* site logo */

#site-logo a {
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

/* site description */
#site-description {
	font: italic 100%/130% "Times New Roman", Times, serif;
	color: #fff;
}

/* ===========================
   ======= Search form ======= 
   =========================== */

#searchform {
	position: absolute;
	right: 205px;
	top: 10px;
	width: 260px;
}
#searchform #s {
	width: 140px;
	float: left;
	background: #fff;
	border: none;
	padding: 6px 10px;
	/* border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}
#searchform #s:focus
{
	width:205px;
}
/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
.btnSearch input{
    background:url(../images/PNG/search.png) no-repeat;
    margin-top: 8px;
    margin-left: 5px;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
}
/* ===========================
   ======= Sign in   ========= 
   =========================== */
#username,#password{
    background:#ececec; 
    border: none;
    padding: 6px 10px;
    /* border radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box shadow */
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    /* transition */
    -webkit-transition: width .7s;
    -moz-transition: width .7s;
    transition: width .7s;
}
#username:focus,#password:focus{
    width: 180px;
}
/* ===========================
   ======= Content Area ====== 
   =========================== */

.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.topcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
/*	padding: 3% 5%;*/
        margin-bottom: 3%;
        padding-bottom: 0%;
        height: 220px;
}
.topcontent img{
        border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.bottomcontent {
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        padding-bottom: 3%;
/*	padding: 3% 5%;*/
}
.bottomcontent h2{
    background: #CF5C3F;
    color:#ffffff;
    width: 100%;
    height:30px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    text-align: center;
    padding-top: 10px;
}
.content {
	width: 68%;
	float: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
}

/* ===========================
   ======== Sidebar ========== 
   =========================== */

.top-sidebar {
    width: 30%;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	
    background-color: #FFF;	
    margin-bottom: 2%;
}
.top-sidebar h2,.middle-sidebar h2,.bottom-sidebar h2{
    background-color: #CF5C3F;
    height: 35px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align: center;
    padding-top: 10px;
    margin-top: 0px;
    color: #ffffff;
}
.top-sidebar form{
    margin-left: 40px;
}
.middle-sidebar {
    width: 30%;
    float: right;
    border-radius: 5px;
    margin-right: 2%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	
    background-color: #FFF;	
    margin-bottom: 2%;
}
.middle-sidebar li{
    list-style:none;
}

.bottom-sidebar {
    width: 30%;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	
    background-color: #FFF;
    padding-bottom: 20px;
}
.bottom-sidebar div{
    margin-left: 40px;
}
/* ===========================
   ========= Footer ========== 
   =========================== */

.mainFooter {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;
}

.mainFooter p {
	width: 75%;
	margin-left:2%;	
	/*margin: 2% auto;*/
	float:left;
	font-size:16px;
}
.mainFooter img
{
	margin-top:2%;
}
/************************************************************************************
ITEM
*************************************************************************************/
.item-grid
{
	overflow:hidden;*zoom:1;
	text-align:center
}
.item-grid a
{
	display:inline-block;
}
.item-grid a.loading
{background:url(../images/loader.gif) no-repeat center center;background-size:24px 24px}
.item-grid .item
{
	display:inline-block;
	width:250px;
	height:250px;
	background-size:cover;
	background-position:50% 50%;
	vertical-align:top;
	margin:15px;
}
.item-grid .item:hover .info
{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1
}
.item-grid .item .info
{
	-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;background:rgba(197,157,94,0.85);height:210px;width:180px;padding:40px 35px 0px 35px;position:relative
}
.item-grid .item .info .name{font-size:22px;font-weight:400;color:#fff;text-align:left;-ms-word-break:break-all;word-break:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
.item-grid .item .info .hover-price{color:#fff;font-size:30px;position:absolute;bottom:15px;font-weight:600;right:35px}

/*******************************************************
						BUTTON
********************************************************/
.to_register, .detail	
{
	background-color:#CF5C3F;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:72px;
	text-decoration:none;
	text-align:center;
}
.to_register:hover, .to_register:active{
	background-color:#666666;
	color: #CF5C3F;
}
.detail:hover
{
	background-color:#666666;
	color:#CF5C3F;
}
.to_register:link, .to_register:visited
{
	color:#FFFFFF;
}
.detail:link, .detail:visited
{
	color:#FFFFFF;
}

p.button input
{
	width:72px;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor: pointer;	
	background: #CF5C3F;
	padding: 4px 5px;
	color:#FFFFFF;
	font-size: 15px;
	font-weight:bold;
	font-style:normal;		
	border: 1px solid #CF5C3F;	
	margin-bottom: 5px;	
}
p.button input:hover{
	background:#666666;
	border: 1px solid #666666;
	color: #CF5C3F;
}
p.button input:active,
p.button input:focus{
	background: #666666;
	border:#666666;
}
.btnLogin{
    width:72px;
    height:30px;
    line-height:30px;
    text-align:center;
    cursor: pointer;	
    background: #CF5C3F;    
    color:#FFFFFF;
    font-size: 15px;
    font-weight:bold;
    font-style:normal;		
    border: 1px solid #CF5C3F;	
    margin-bottom: 5px;
    margin-left: 10px;
}
.btnLogin input:hover{
    background:#666666;
    border: 1px solid #666666;
    color: #CF5C3F;
}
.btnLogin input:active,.btnLogin input:focus{
    background: #666666;
    border:#666666;
}
/* ===========================
   ======== Content ========== 
   =========================== */
.CSSTableGenerator {
	margin:5%;padding:0px;
	width:90%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f79a83; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:14px;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #666666 5%, #666666 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #666666 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#666666");	background: -o-linear-gradient(top,#666666,666666);

	background-color:#666666;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #666666 5%, #666666 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #666666 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#666666");	background: -o-linear-gradient(top,#666666,666666);

	background-color:#666666;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}